body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
}

.headerlinks {
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #e5e7eb;
}

.section1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;

}

.s1container1 {
    padding-right: 5%;
}

#heromain {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

#s1description {
    color: #e5e7eb;
    font-size: 18px;
}

.s1container2 {
    color: #e5e7eb;
    text-align: center;
    align-content: center;
    width: 1000px;
    height: 250px;
    background-color: grey;
}

.s1button {
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
}

.s2container1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 30px;
}

.s2container2 {
    display: flex;
    gap: 25px;
    padding-bottom: 30px;
    
}

#image1 {
    border-width: 5px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    align-content: center;
    text-align: center;
}

#description1 {
    color: #1f2937;
    width: 200px;
    text-align: center;
}

#image2 {
    border-width: 5px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    align-content: center;
    text-align: center;
}

#description2 {
    color: #1f2937;
    width: 200px;
    text-align: center;
}

#image3 {
    border-width: 5px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    align-content: center;
    text-align: center;
}

#description3 {
    color: #1f2937;
    width: 200px;
    text-align: center;
}

#image4 {
    border-width: 5px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    align-content: center;
    text-align: center;
}

#description4 {
    color: #1f2937;
    width: 200px;
    text-align: center;
}

.section3 {
    color: #1f2937;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 60px;
}

#quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: justify;
}

#arthur {
    font-size: 18px;
    font-weight: 900;
    text-align: end;
}

.section4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 6px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #f9faf8;
}

.s4container1 {
    text-align: start;
}

#s4heading {
    font-size: 18px;
    font-weight: bold;
}

.s4button {
    font-size: 18px;
    font-weight: bold;
   
}

